.booth {
    width: 400px;
    background-color: #ccc;
    border: 10px solid #ddd;
    margin: 0 auto;
}

#canvas {
    display: none;
}

.margin-5{
    margin: 5px;
}

.is-horizontal-center {
    justify-content: center;
}
