{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column"></div>
        <div class="column">
            <h2 class="title has-text-centered">VND Classifier</h2>
            <!-- Camera view -->
            <div class="content is-flex is-horizontal-center">
                <video id="video" width="400" height="300"></video>
            </div>
            <a href="#" id="capture" class="button is-flex is-link is-rounded">Take photo</a>
            <br>
            <div class="content is-flex is-horizontal-center">
                <canvas id="canvas" width="400" height="300"></canvas>
                <img id="photo" src="https://via.placeholder.com/400x300/jpg" alt="Photo">
            </div>
            <!-- <div class="content is-flex is-horizontal-center is-paddingless"> -->
            <input type="file" class="filepond is-fullwidth">
            <script
                src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
            <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
            <script src="/static/enableFilepond.js"></script>
            <!-- </div> -->

        </div>

        <div class="column"></div>

    </div>
</div>
{% endblock %}