{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column">
            <h2 class="title has-text-centered">VND Classifier</h2>
            <!-- Camera view -->
            <div class="content is-flex is-horizontal-center">
                <video id="video" width="400" height="300"></video>
            </div>
            <a href="#" id="capture" class="button is-flex is-link is-rounded">Take photo</a>
            <br>
            <div class="content is-flex is-horizontal-center">
                <canvas id="canvas" width="400" height="250"></canvas>
                <img id="photo" src="https://via.placeholder.com/400x250/jpg" alt="Photo">
            </div>
            <!-- <div class="content is-flex is-horizontal-center is-paddingless"> -->
            <input type="file" class="filepond is-fullwidth">
            <script
                src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
            <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
            <script src="/static/enableFilepond.js"></script>
            <!-- </div> -->

        </div>

        <div class="column">
            <br><br><br>
            <h4 id="prediction" class="title">Prediction:</h4>
            <table id="output" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <tr>
                    <th class="col-md-1">Classes</th>
                    <th class="col-md-2">Probability</th>
                </tr>
                <tr>
                    <th>10K</th>
                    <td></td>
                </tr>
                <tr>
                    <th>100K</th>
                    <td></td>
                </tr>
                <tr>
                    <th>2K</th>
                    <td></td>
                </tr>
                <tr>
                    <th>500</th>
                    <td></td>
                </tr>
                <tr>
                    <th>5K</th>
                    <td></td>
                </tr>
                <!-- <tr>
                    <th>200K</th>
                    <td></td>
                </tr>
                <tr>
                    <th>5K</th>
                    <td></td>
                </tr>
                <tr>
                    <th>50K</th>
                    <td></td>
                </tr>
                <tr>
                    <th>500K</th>
                    <td></td>
                </tr> -->
            </table>
        </div>

    </div>
</div>
{% endblock %}